body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}


.button {
    background-color: #1877F2; 
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.button:hover {
    background-color: #145dbf;
}
